DATABASE_URL=postgresql://eth:eth@localhost:5432/eth_backend?schema=public
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://eth:eth@localhost:5672
ALCHEMY_RPC_URL=http://127.0.0.1:8545
ALCHEMY_WS_URL=
CONTRACT_ADDRESS=
CHAIN_ID=31337
PORT=3001
